{deps, [{grisp, ".*", {git, "https://github.com/Abhiroop/grisp", {branch, "read-color-led"}}}]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "22.0"}
    ]},
    {deploy, [
        {destination, "/Volumes/GRISP/"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {robot, "0.1.0"}, [robot]}
]}.
